extends layout.jade

block navber
    include partials/navbar.jade
        
block content

    br

    h1 #{menu.list[1].name}

    hr

    h1 HELLO WORLD
            SPAN LOVE 
            | HAPPY DAY
        
        
        ul
            li
                a(href="#") link
            li
                a(href="#") link
            li
                a(href="#") link

        h2
            a(href="")
                span Lorem ipsum dolor sit amet.
        
        h2: a(href=""): span Lorem ipsum dolor sit amet consectetur.

        hr
        .container
            form(action="")
                label(for="email") 請輸入Email
                input#email.form-control.input-sm(type="text")
