<!DOCTYPE html>
html(lang="en")
    head
        include partials/head.jade                
    body
        block navber
        //- include partials/navbar.jade
        .container   
            block content