extends layout.jade

block navber
    include partials/navbar.jade    
block content
    .card-columns
        each item in khData.records
            .card
                img.card-img-top(src='#{item.RelatedFileURL}', alt='Card image cap')
                .card-body
                    h4.card-title #{item.Title}
                    p.card-text
                        | #{item.Content}